body {
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

.wilburGame {
  display: none;
  background-image: url("img/wilbur.jpg");
}

#jumboWilbur {
  background-color: #ff8080;
}

.babeGame {
  display: none;
  background-image: url("img/babe.jpg");
}

#jumboBabe {
  background-color: #80ffaa;
}
